# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
assets/images/
assets/meta/
assets/config_gen.json
assets/rarity_layers.csv
assets/rarity_layers.png
assets/rarity_nft.csv
assets/rarity_nft.png
assets/config_gen.json